.fakeimg {
    height: 170px;
}

#meImg {
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}

#meImg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#webImg {
    width: auto;
    height: 100%;
}

#header-container {
    padding-left: 140px;
    padding-right: 140px;
}

.headerdiv {
    height: 200px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 17px;
    padding-left: 65px;
    padding-right: 65px;
}

.headerleft {
    height: 146px;
    min-width: 400px;
    width: 50%;
    float: left;
    padding-right: 15px;
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}